<!-- Footer -->
<footer class="text-white bg-primary border rounded align-items-center mt-5">
  <div class="container">
    <div class="row text-center my-4">

      <div class="col-md-4">
          <h2 class="h6">Enregistrez-vous dès maintenant<br> c'est gratuit !</h2>

      </div>
      <div class="col-md-4">
        <a href="{{path('admin_dashboard')}}" class=""><i class="fas fa-circle"></i></a>
      </div>
      <div class="col-md-4">
          <a href="{{path('account_register')}}" class="btn btn-rounded btn-info"><i class="fas fa-user-circle"></i>&nbsp;
          S'enregistrer</a>
      </div>

    </div>
    <div class="row text-center">
      <div class="col">
        <small>CopyRight ESxProduction &nbsp;<i class="far fa-registered"></i></small>
      </div>
    </div>
  </div>
</footer>
