<!-- Footer -->
<footer class="text-dark text-white bg-warning border rounded align-items-center mt-5">
  <div class="container">
    <div class="row text-center my-4">
      <div class="col">
        Interface d'administration
      </div>
      <div class="col">
        <a href="" class="">Se déconnecter</a>
      </div>
    </div>

  </div>
</footer>
